{% extends 'authenticate/base.html' %}
{% block content %}
<div class="container col-xl-4 col-lg-6 col-md-7 col-12 mt-3 form-container">
    <div class="container form-title-container">
        <h3 class="text-center">Login Page</h3>
    </div>
    <form class="p-4" method="post" action="{% url 'logout-user' %}">
        {% csrf_token %}
        <p>Are you sure you want to log out?</p>
        <button type="submit" class="btn btn-danger">Yes, Logout</button>
    </form>
</div>

{% endblock content %}